server:
  persistentVolume:
    enabled: true
    size: 10Gi
  service:
    type: ClusterIP
alertmanager:
  persistentVolume:
    enabled: true
    size: 2Gi
nodeExporter:
  enabled: true
kubeStateMetrics:
  enabled: true
