apiVersion: apps/v1
kind: Deployment
metadata:
  name: simple-website
spec:
  replicas: 1
  selector:
    matchLabels:
      app: simple-website
  template:
    metadata:
      labels:
        app: simple-website
    spec:
      containers:
        - name: nginx
          image: nginx:latest
          ports:
            - containerPort: 80
          volumeMounts:
            - name: html
              mountPath: /usr/share/nginx/html
      volumes:
        - name: html
          configMap:
            name: website-content
---
apiVersion: v1
kind: Service
metadata:
  name: simple-website-service
spec:
  type: NodePort
  selector:
    app: simple-website
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30080
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: website-content
data:
  index.html: |
    <html>
    <body>
      <h1>Hello from Kubernetes!</h1>
      <p>This is a simple website deployed on a K8s cluster.</p>
    </body>
    </html>
